{% extends 'base.html' %}

{% block conteudo %}
<div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
            <label>{{ form.username.label }}</label>
            {{form.username}}
        </div>
        <div>
            <label>Senha</label>
            {{form.password}}
        </div>
        <div>
            <button type="submit">Login</button>
            <a href="{% url 'register' %}">Não possui uma conta? Registre-se! </a>
        </div>
    </form>
</div>
{% endblock %}